<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">${db.driver_class}</property>
        <property name="hibernate.connection.url">${db.url}</property>
        <property name="hibernate.connection.username">${db.username}</property>
        <property name="hibernate.connection.password">${db.password}</property>
        <property name="hibernate.dialect">${db.dialect}</property>

        <property name="show_sql">${db.show_sql}</property>
        <property name="hibernate.cache.use_second_level_cache">${db.use_second_level_cache}</property>
        <property name="cache.provider_class">${db.provider_class}</property>
        <property name="net.sf.ehcache.configurationResourceName">${db.ehcache.configurationResourceName}</property>
        <property name="hibernate.cache.region.factory_class">${db.region.factory_class}</property>
        <property name="hibernate.cache.use_query_cache">${db.use_query_cache}</property>
	  
        <mapping class="com.exercise.servlet1.core.Person"/>
    	<mapping class="com.exercise.servlet1.core.Address"/>
    	<mapping class="com.exercise.servlet1.core.Contact"/>
    	<mapping class="com.exercise.servlet1.core.Role"/>

    </session-factory>
</hibernate-configuration>
